[2015-02-24 23:15] #1299 closed

[2015-02-24 23:17] mmmavis commented on #1271
Up on https://moi-splash.herokuapp.com/localweb.  :dancer:
@alicoding, when you get a chance can you review my commits? I can squashed all the localization commits into one if that's easier for you to review.  Open PR here: https://github.com/mozilla/webmaker.org/pull/1246

[2015-02-24 23:29] #1294 closed

[2015-02-24 23:29] #1298 closed

[2015-02-24 23:39] mmmavis commented on #1283
I added this to the build and it's now live on staging: https://moi-splash.herokuapp.com/localweb.  I guess we can close this ticket?

[2015-02-25 00:38] k88hudson opened #1321 "Design QA: remaining issues"
[See mobile design](https://dl.dropboxusercontent.com/content_link/reCZcKO41zF8sa3gRydqje84wlDNBwqvSmWp1FxmITVvWTCuTbBeRYOdfgM3t6ie)

* SMS fields don't look right on a small screen ![image](https://cloud.githubusercontent.com/assets/1455535/6362652/92abf7ec-bc5d-11e4-8b5d-01dc78f6b88a.png)
* descriptions not italic
* button font size/padding is off
* previews don't fit on screen
* uneven spacing

[2015-02-25 14:13] cadecairos opened #1323 "center sub headings of /app page"
![off-centre](https://cloud.githubusercontent.com/assets/438003/6371960/95f62924-bcce-11e4-9273-56bab3803ece.png)

[2015-02-25 14:17] secretrobotron commented on #1277
@k88hudson can you point @adamlofting at the code you moved (or are moving) over?

[2015-02-25 14:19] secretrobotron commented on #1277
My guess: https://github.com/mozilla/webmaker.org/pull/1320

[2015-02-25 14:36] secretrobotron commented on #1277
@cadecairos can you link the change you made to sawmill here?

[2015-02-25 14:55] cadecairos commented on #1306
#1315 should fix this

[2015-02-25 14:56] cadecairos commented on #1323
This should be fixed by #1315

[2015-02-25 14:56] #1323 closed

[2015-02-25 14:57] cadecairos commented on #1267
@secretrobotron can we close this?

[2015-02-25 14:59] secretrobotron commented on #1267
@cadecairos Yep! Can you just outline a plan to monitor for spam?

[2015-02-25 15:13] alicoding commented on #1205
@mmmavis @edrushka can we do string freeze on localweb copy now? we don't have enough time if we still updating or changing strings in the file and our translators going to get burn out if we update this too frequently.

[2015-02-25 15:51] cadecairos commented on #1267
At the least we can use Kibana:
https://loggins.mofoprod.net/#/dashboard/elasticsearch/STAGING%20SEND%20DOWNLOAD%20LINK
The IP Address table there lists the top 15 IP's hitting the `/app/send-download-link`

@secretrobotron what do you think?

[2015-02-25 16:17] secretrobotron commented on #1267
Guess it makes no sense to hash them there if we're looking to prevent spam?

(I can't see what's behind that link, btw.)

[2015-02-25 16:19] cadecairos commented on #1267
hash IP addresses?

[2015-02-25 16:42] jbuck commented on #1267
Had a quick chat with Adam, so long as we nuke logs >6 months old we're good for data retention.

Still need to add rate-limiting though.

[2015-02-25 18:03] mmmavis commented on #1205
I'm done with adding all the copy tweaks in the build/Transifex.  @edrushka , is there anything else that need to be adjusted? (bolding text and adding links could count too)

[2015-02-25 18:06] edrushka commented on #1205
@benrito @HPaulJohnson can we freeze copy as per Ali's concern about translator burnout?

[2015-02-25 18:14] HPaulJohnson commented on #1205
@edrushka no more changes that i know of so good to freeze now.

[2015-02-25 18:15] benrito commented on #1205
Think yes.

[2015-02-25 18:25] benrito commented on #1205
Hey guys, here is our pre-MWC logo clearance:

https://dl.dropboxusercontent.com/u/8176339/MWC%20logo%20clearance.zip

Each folder has the high res file and the URL to link.

Feel free to crop the A2I logo so it's pretty.

At this stage we have 6 logos that are carefully selected to tell a story. There are some politics here so placement matters.

I've included "layout.png" to suggest how we might

[2015-02-25 18:27] edrushka commented on #1205
Great. Thanks, Ben. @mmmavis can you try these in one row and see if it looks ok?

[2015-02-25 18:28] mmmavis commented on #1175
Copying @benrito 's comment from https://github.com/mozilla/webmaker.org/issues/1205#issuecomment-76023749

[2015-02-25 18:29] mmmavis commented on #1205
Alrighty, let's continue the convo for logos here instead: https://github.com/mozilla/webmaker.org/issues/1175 :smile:

[2015-02-25 18:42] adamlofting commented on #1277
No further instrumentation needed here now that the install page prevents the 'wrong' user agents from trying to click the download button.

[2015-02-25 19:12] mmmavis commented on #1174
We are still missing link to the Webmaker India research report.  Can someone forward me the link? Thanks!

[2015-02-25 19:13] adamlofting commented on #1277
For simple reporting I've setup a GA custom report.

This link shares the custom report template, but you have to use this template to create the report in your account:
https://www.google.com/analytics/web/template?uid=Q8BI8Kc2TYm2RwKuzgBf2w

[2015-02-25 19:13] #1277 closed

[2015-02-25 19:28] edrushka commented on #1174
@LauraReynal ETA?

[2015-02-25 19:31] thisandagain commented on #1277
Great. Thanks @adamlofting! I added this to a shared dashboard called "App Installation" as well.

[2015-02-25 19:32] thisandagain commented on #1174
@edrushka Will have by EOD Friday. Link will be `http://mzl.la/india`

[2015-02-25 19:36] mmmavis commented on #1174
@thisandagain sorry, forgot to mention link to "A Locally Relevant Web: Early Research & Recommendations" as well.

[2015-02-25 19:43] thisandagain commented on #1174
@mmmavis Let's use `http://mzl.la/research` for that.

[2015-02-25 20:14] #1268 closed

[2015-02-25 20:15] #1273 closed

[2015-02-25 20:16] secretrobotron commented on #1288
@cadecairos can you grab a Spanish number?

[2015-02-25 20:21] mmmavis commented on #1254
review for me @adamlofting :smile: ? see [PR](https://github.com/mmmavis/webmaker.org/pull/2)

[2015-02-25 20:26] #1283 closed

[2015-02-25 20:27] mmmavis commented on #1271
I believe this is done.  Gonna close this ticket now.

CC @alicoding

[2015-02-25 20:27] #1271 closed

[2015-02-25 20:59] adamlofting commented on #1254
@mmmavis this looks great. I just had a few comments inline.
Then if we can merge this and get it onto staging we can do a final QA to check the data is coming through to GA.

[2015-02-25 23:17] mmmavis commented on #1175
@benrito fyi, linking to www.m4dimpact.com via **https** throws out security warning.  I will use http://www.m4dimpact.com/ instead.

[2015-02-25 23:27] #1257 closed

[2015-02-25 23:27] #1295 closed

[2015-02-25 23:27] #1296 closed

[2015-02-25 23:27] #1315 closed

[2015-02-25 23:42] secretrobotron opened #1325 "Small horizontal scroll on app install page"
Looks like there's some extra space on the very right:
![screenshot 2015-02-25 15 03 43](https://cloud.githubusercontent.com/assets/403231/6383390/13cec762-bd1e-11e4-94c5-b0f292d50494.png)

[2015-02-25 23:43] mmmavis commented on #1254
@adamlofting
Live on https://moi-splash.herokuapp.com/localweb :dancer:  Note that this is just a Heroku app that I set up, not sure if we have an official staging webmaker.org site somewhere.  Hopefully this is enough for testing.

[2015-02-25 23:44] mmmavis commented on #1175
Live on https://moi-splash.herokuapp.com/localweb :dancers:

[2015-02-25 23:44] secretrobotron commented on #1278
@adamlofting new build is on staging, and has the analytics we discussed in it :). Check it out?

[2015-02-25 23:45] secretrobotron commented on #1314
@k88hudson handled by latest build?

[2015-02-25 23:45] secretrobotron commented on #1307
@k88hudson handled on latest build?

[2015-02-25 23:45] #1307 closed

[2015-02-25 23:46] mmmavis commented on #1174
Thanks, I just added those in the build :smiley:

[2015-02-25 23:47] secretrobotron commented on #1305
@k88hudson ping!

[2015-02-25 23:50] k88hudson commented on #1305
This is resolved!

[2015-02-25 23:50] #1305 closed

[2015-02-25 23:53] k88hudson commented on #1314
Yep! should at least show a texting field now.

[2015-02-25 23:53] #1314 closed

[2015-02-26 00:00] secretrobotron commented on #1306
Fixed by #1320.

[2015-02-26 00:00] #1306 closed

[2015-02-26 00:01] secretrobotron commented on #1267
@cadecairos @jbuck mind updating on where we got with this today?

[2015-02-26 00:13] mmmavis commented on #1175
And I did crop the A2I logo a bit.

[2015-02-26 00:39] cadecairos commented on #1267
A rate limit enabling patch for the sawmill sms worker is in review.

https://github.com/mozilla/sawmill/pull/38

[2015-02-26 01:00] hannahkane opened #1326 "redirect badges.webmaker.org to blog.webmaker.org/badges"
http://badges.webmaker.org/ currently goes to a page of old badges that you can no longer apply for. We should redirect this page to blog.webmaker.org/badges even it it's just a temporary measure until we get a proper badges welcome page set-up. We've had a few emails from confused people.

/cc @LucyeoH

[2015-02-26 01:04] davidascher commented on #1326
/cc @ScottDowne

[2015-02-26 03:28] simonwex commented on #1288
Due to local regulation, we must have a business or personal address in Spain for a +34 number. Do we have one we can use?

[2015-02-26 14:16] cadecairos commented on #1325
ugh, I had already fixed that

[2015-02-26 14:16] adamlofting commented on #1278
![screen shot 2015-02-26 at 09 15 57](https://cloud.githubusercontent.com/assets/1901816/6393446/1bbc53b6-bd98-11e4-923c-f72ede9b8c77.png)

Events are arriving on staging :boom:

[2015-02-26 14:17] #1278 closed

[2015-02-26 15:43] iamjessklein commented on #1321
* Country drop down alignment isn't consistent on SMS input:
![screen shot 2015-02-26 at 10 33 16 am](https://cloud.githubusercontent.com/assets/535012/6394968/32e83720-bda3-11e4-8c4b-32067dd833ee.png)

* Call to action button on pane before the footer is missing. See [here](https://redpen.io/pm3459a122240a34a5)

* Twilio copy should be left aligned on mobile.
![screen shot 2015-02-26 at 10 38 47

[2015-02-26 16:23] adamlofting commented on #1254
:+1:

CC'ing @secretrobotron to show you how the webmaker staging works, as we'll want to get this onto webmaker.mofostaging.net so that we can check this data is arriving in GA.

[2015-02-26 16:49] secretrobotron commented on #1254
@mmmavis yeah! You've just got to tag the webmaker.org repo and push that up to mozilla/master. Happy to show you how. Ping me when you're around :).

[2015-02-26 17:02] cadecairos opened #1330 "Header background colour is not full-width on mobile"
![install-header](https://cloud.githubusercontent.com/assets/438003/6396894/46263a6a-bdaf-11e4-9f50-1fba51ace473.png)

[2015-02-26 17:20] secretrobotron opened #1331 "See if we can use a short code we can use to send install messages"
Is there an existing moz short code we can use to send text messages for installing webmaker app?

cc @simonwex @thisandagain

[2015-02-26 18:30] secretrobotron commented on #1288
Not that I'm aware of.

@thisandagain @davidascher anyone in Spain we can ask?

Otherwise, we can send from the US number for the time being. We're going to have to do that for people who don't have Spanish SIMs anyway, right?

[2015-02-26 18:36] thisandagain commented on #1288
@vazquez any thoughts?

[2015-02-26 18:38] davidascher commented on #1288
Maybe @toniher can help?

[2015-02-26 18:42] #1262 closed

[2015-02-26 19:27] #1321 closed

[2015-02-26 19:31] jdotpz commented on #1326
I can do this.

[2015-02-26 19:32] jbuck commented on #1326
More context: https://bugzilla.mozilla.org/show_bug.cgi?id=967755

[2015-02-26 19:35] toniher commented on #1288
Hi, I could try to buy a Movistar prepaid card tomorrow, and I could give it to you phisically before MWC starts.

[2015-02-26 19:38] secretrobotron commented on #1288
@Saallen has a friend who might be able to help too.

@simonwex : we just need a name/address, and we can do the purchase through Twilio?

[2015-02-26 19:42] jdotpz commented on #1326
Redirect is set.

[2015-02-26 19:43] ScottDowne commented on #1326
Confirmed!

[2015-02-26 19:43] #1326 closed

[2015-02-26 19:46] #1325 closed

[2015-02-26 19:46] #1330 closed

[2015-02-26 21:11] adamlofting commented on #1253
Closed in https://github.com/mozilla/webmaker.org/issues/1277

[2015-02-26 21:11] #1253 closed

[2015-02-26 21:18] #1267 closed

[2015-02-26 21:55] cadecairos commented on #1266
technically, this is done. reopen if you disagree

[2015-02-26 22:01] secretrobotron commented on #1266
Just leaving this here until @mmmavis moves her code up too. Latest revisions aren't on prod.

[2015-02-26 23:13] edrushka opened #1338 "QA MOI splash page for MWC"
Please help us QA this page ( https://webmaker.org/localweb )

- Ensure the link to the Open Beta works. It should send you to: https://webmaker.org/app
- Ensure the video plays with audio & the video shows up in a lightbox popup
- Ensure you can access all the research reports
- Ensure the mailto links on the contact CTAs work
- Ensure you can use the language dropdown menu to select other langua

[2015-02-26 23:13] k88hudson opened #1339 "ie11: Background on the video container element scrolls weirdly"
Instead of staying still, the image on the dark blue background moves in the opposite direction of the scroll.

[2015-02-26 23:14] k88hudson opened #1340 "Background on dark blue area is pixelated/doesn't fill entire width"
![image](https://cloud.githubusercontent.com/assets/1455535/6404190/55c92a66-bde3-11e4-8c11-acffb778e513.png)

[2015-02-26 23:20] secretrobotron commented on #1266
Yay! Done!

[2015-02-26 23:20] #1266 closed

[2015-02-26 23:33] secretrobotron opened #1341 "Changing country after phone number is typed in doesn't enable button"
STR
1. Go to https://webmaker.org/app
2. Make sure country code is incompatible with your phone number (e.g. Spain+Canada)
3. Enter phone number.
4. Change to correct country code.

Expected: Button should be enabled.
Actual: Button isn't enabled.

[2015-02-26 23:34] mmmavis commented on #1340
heh good catch @k88hudson
I noticed the same thing when I was building the page but it turned out that "gap" was part of the [image itself] (https://webmaker.org/img/moi/moi-video-preview.png) :p
We'll have to replace that placeholder image when the **real video** is ready (it'll just be a screencap from the video)

[2015-02-26 23:35] k88hudson commented on #1340
Ah cool! feel free to close the issue then

[2015-02-26 23:35] #1340 closed

[2015-02-26 23:36] mmmavis commented on #1340
Thanks for QAing :dancers:

[2015-02-26 23:37] mmmavis commented on #1167
Build is done.  Please enter style tweaks in a new ticket :)

[2015-02-26 23:37] #1167 closed

[2015-02-26 23:38] mmmavis commented on #1171
Build is done.  Please enter style tweaks in a new ticket :)

[2015-02-26 23:38] #1171 closed

[2015-02-26 23:39] HPaulJohnson commented on #1338
Also missing: https://stuff.webmaker.org/mobile_webmaker_partners.pdf (currently broken link for "partner with us")

[2015-02-26 23:39] mmmavis commented on #1175
[Build](http://webmaker.org/localweb) is done.  If anything needs to be changed please file a new ticket.

[2015-02-26 23:39] #1175 closed

[2015-02-26 23:41] k88hudson opened #1342 "Green button shouldn't have a top border"
It would look better if it was just all the same green

![image](https://cloud.githubusercontent.com/assets/1455535/6404522/126b68ca-bde7-11e4-82af-1b5c01733e1d.png)

[2015-02-26 23:41] mmmavis commented on #1338
@HPaulJohnson thanks! I updated the list above (I assume the PDF will be ready tomorrow as well?)

[2015-02-26 23:47] mmmavis commented on #1339
@sabrinang is it the parallax effect you want?  just making sure I didn't interpretated your idea wrong

[2015-02-26 23:50] mmmavis commented on #1254
@adamlofting https://webmaker.org/localweb is up :dancers: :dancers: :dancers: :dancers: :dancers:

[2015-02-26 23:50] k88hudson commented on #1339
It's fine on firefox/chrome, the problem is just in ie11

[2015-02-26 23:52] mmmavis commented on #1174
Links have been added to the build. :+1:

[2015-02-26 23:52] #1174 closed

[2015-02-27 00:07] mmmavis opened #1343 "Pick a screencap to add to the video section as background"
It will be a screencap from the video. [working in progress video here](http://videos.blinktower.com/medias/qahh1il5yt)

cc @edrushka

[2015-02-27 00:12] mmmavis commented on #1343
1:14 from http://videos.blinktower.com/medias/qahh1il5yt

![1:14 from http://videos.blinktower.com/medias/qahh1il5yt](https://cloud.githubusercontent.com/assets/2896608/6404919/33c105ee-bdd2-11e4-863e-e737b843dc7c.png)

[2015-02-27 00:24] mmmavis commented on #1339
k, let me bring up my virtual box and test

[2015-02-27 00:26] edrushka commented on #1343
cc @HPaulJohnson

[2015-02-27 00:33] k88hudson opened #1344 "Green button shouldn't have a top border"
It would look better if it was just all green

![image](https://cloud.githubusercontent.com/assets/1455535/6404522/126b68ca-bde7-11e4-82af-1b5c01733e1d.png)

[2015-02-27 01:09] mmmavis commented on #1343
0:10 from http://videos.blinktower.com/medias/qahh1il5yt
![screen shot 2015-02-26 at 5 07 45 pm](https://cloud.githubusercontent.com/assets/2896608/6405582/0c1a5074-bdda-11e4-970b-447b85476d73.png)

If we have the original illustration file for the rocket itself we can probably do a cool parallax effect.

[2015-02-27 02:59] sabrinang commented on #1343
More screencap options
0:23
![mozilla-webmaker_mobile-opportunity-mwc-2015-march_video-screenshot-2](https://cloud.githubusercontent.com/assets/2492510/6406771/8fffdeae-be02-11e4-9bc0-e8764d444ded.png)

1:18
![mozilla-webmaker_mobile-opportunity-mwc-2015-march_video-screenshot](https://cloud.githubusercontent.com/assets/2492510/6406774/96c3dfba-be02-11e4-9f25-52d9afa779c8.png)

[2015-02-27 03:23] HPaulJohnson commented on #1343
I vote for the last one (1:18)

[2015-02-27 10:43] adamlofting commented on #1254
Perfect! This data is now arriving in GA :hatching_chick: :hatched_chick:
![screen shot 2015-02-27 at 05 40 27](https://cloud.githubusercontent.com/assets/1901816/6411107/41a606e8-be43-11e4-9b70-87bfdafbc3a6.png)

[2015-02-27 10:43] #1254 closed

[2015-02-27 15:06] thisandagain opened #1346 "Disable / Grey-out link to India Report"
Doesn't look like we'll have the India report at 100% for the start of MWC as it still needs quite a bit of work. Let's keep the link on the page but disable it / grey it out. Once published, we can push an update.

/cc @mmmavis @LauraReynal @edrushka @secretrobotron @benrito

[2015-02-27 15:23] #1344 closed

[2015-02-27 15:24] cadecairos commented on #1288
I had a chat with @vazquez , and he doesn't have any family still living in Spain. He may know some folks over there though.

[2015-02-27 15:32] thisandagain opened #1347 "Install Page - Refine content on desktop experience"
Got some solid feedback from @benrito this morning. The desktop experience of the install page is a little confusing as it's missing two pieces of information:
- That the app is a "beta"
- That the app is available on Android & Firefox OS

I don't think it requires a major change, but a little bit of additional messaging to the top copy block I think could get this clarified for the user. @secretr

[2015-02-27 15:34] thisandagain commented on #1288
@simonwex Given that you have experience with this can you make a call here?

[2015-02-27 15:40] davidascher commented on #1288
@toniher can we use your name and address? We just need a local to behind the number

[2015-02-27 15:51] k88hudson commented on #1347
I agree, this is pretty important

[2015-02-27 16:06] secretrobotron commented on #1347
:+1:

@k88hudson think we should put little white versions of the FF and Android symbols beside (and under, on the skinny version) the "Get the App" button? I don't know where we'd put the "beta" info though.

Or, maybe just add a blurb beneath the button saying "This app is in public beta, and available for Android 4.4+ and FFOS 2.1+".

[2015-02-27 16:09] #1341 closed

[2015-02-27 16:15] k88hudson commented on #1347
@secretrobotron can you sign off on this?

Change buttons to:
* Desktop: "Get Webmaker Beta"
* Mobile: "Download Webmaker Beta"

Design:
![image](https://cloud.githubusercontent.com/assets/1455535/6416144/e9bbbd5e-be71-11e4-967e-434218fe26ba.png)

[2015-02-27 16:24] edrushka commented on #1346
cc @HPaulJohnson

Sure thing, Andrew. Just let us know when it's ready.

[2015-02-27 16:31] secretrobotron commented on #1347
@k88hudson :+1:

[2015-02-27 16:32] k88hudson opened #1348 "Android 4.4 being recognized as Desktop"
User agent:
[code]

Expected: allows download.
Actual: shows desktop UI/SMS form

[2015-02-27 16:36] k88hudson commented on #1348
So it looks like the the reason for this is that our UA parser is not able to determine the device at all –

Perhaps we should use a more optimistic way of testing, i.e. explicitly showing the desktop UI if the type is `tablet` or `desktop` but show the mobile in all other cases

[2015-02-27 16:56] #1347 closed

[2015-02-27 17:22] secretrobotron commented on #1348
@k88hudson fixed by https://github.com/k88hudson/webmaker.org/commit/e46503d998907c89903b5d4e7c2e274cf8b4e41b ?

[2015-02-27 17:24] simonwex commented on #1288
@toniher as @davidascher said, we don't need a SIM, we only need an address to assign to the number we purchase through Twillio. If you're comfortable doing this, could you email me your address? simon@mozillafoundation.org

[2015-02-27 17:50] k88hudson opened #1351 "Uneven spacing in "enabling digital creativity" section"
![image](https://cloud.githubusercontent.com/assets/1455535/6417929/ebdecd94-be7e-11e4-88c6-ffb7c3b626c5.png)

Image should be right-aligned

[2015-02-27 18:51] ScottDowne commented on #1286
https://github.com/mozilla/webmaker.org/pull/1322

[2015-02-27 18:53] ScottDowne commented on #1274
Fixed: https://github.com/mozilla/webmaker.org/commit/bc393dd149dca003c2d82f4007dda681e36c8b58

[2015-02-27 18:53] #1274 closed

[2015-02-27 18:54] adamlofting opened #1352 "Layout while gifs are loading (Install page)"
![screen shot 2015-02-27 at 13 47 58](https://cloud.githubusercontent.com/assets/1901816/6419006/ad91fbde-be87-11e4-8485-2ffaa1543da8.png)

`/app`

When on a slow connection (for example the rural and remote Toronto office :wink:) the phone illustration layout looks weird while the gifs are loading.

Can we set this space to a white background behind the gif?

[2015-02-27 19:07] secretrobotron opened #1353 "Crash when trying to edit an app"
Trying to edit an existing app. Webmaker app says it can't find it, but there's a crash, and an error.

![screenshot 2015-02-27 14 06 50](https://cloud.githubusercontent.com/assets/403231/6419286/e34ce91c-be89-11e4-88a9-2fde4d09d5eb.png)

[code]

[2015-02-27 19:09] thisandagain commented on #1353
Hmm... do you have the `id` of the app?

[2015-02-27 19:10] thisandagain commented on #1353
Also can you move this over to the github.com/mozilla/webmaker-app repo?

[2015-02-27 19:11] #1353 closed

[2015-02-27 19:11] secretrobotron commented on #1353
https://github.com/mozilla/webmaker-app/issues/1402

[2015-02-27 19:20] thisandagain commented on #1352
Good catch. @cadecairos do you think just setting the `background-color` to white is a good fix here?

[2015-02-27 19:23] cadecairos commented on #1352
certainly!

[2015-02-27 19:30] mmmavis commented on #1342
Hey @k88hudson
I'm seeing this on webmaker.org as well.  It's the half transparent box-shadow that's making the blurry top edge. (`box-shadow: 0px 0.4rem 0px #328F70, 0px 0.1rem 0px rgba(255, 255, 255, 0.5) inset`)
What should we do?

[2015-02-27 21:29] secretrobotron commented on #1348
@k88hudson did you have another patch here? did you test? can we close?

[2015-02-27 22:08] #1348 closed

[2015-02-27 23:26] #1261 closed

[2015-02-28 20:27] scootergrisen commented on #1159
Missing space between Firefox and OS in:
"Available for FirefoxOS 2.1+ and Android 4.4+"

[2015-03-01 08:00] mmmavis commented on #1351
this should be fixed now

[2015-03-01 08:00] #1351 closed

[2015-03-01 08:00] mmmavis commented on #1346
Live on https://webmaker.org/localweb

[2015-03-01 08:01] mmmavis commented on #1343
Live on https://webmaker.org/localweb now.  (we picked the 1:18 one)

[2015-03-01 08:01] #1343 closed

[2015-03-01 08:08] #1346 closed

[2015-03-02 14:37] #1352 closed

[2015-03-02 17:00] k88hudson commented on #1342
Hm perhaps we should revisit at a later time when we revise buttons styles across the project

[2015-03-02 17:00] #1342 closed

[2015-03-02 17:43] alicoding commented on #1205
I'm closing this since it is localized and we are showing it off live!

[2015-03-02 17:43] #1205 closed

[2015-03-02 17:54] edrushka commented on #1205
Thanks for all your help on this, @alicoding! I can't believe how many languages we got up in so little time.

[2015-03-02 20:02] simonwex commented on #1288
Number purchased with @toniher's help. @cadecairos emailed you the digits.

[2015-03-02 20:27] secretrobotron commented on #1288
@cadecairos have you got some stats on # of calls so far? Let's keep an eye on traffic over the next few days.

[2015-03-02 20:46] cadecairos commented on #1288
looks like 87 sms api hits today, 80 successfully delivered

[2015-03-03 16:58] #1208 closed

[2015-03-03 18:39] secretrobotron commented on #1288
Were we able to the buy the right number today?
Twilio stats still look sane?

[2015-03-03 18:56] cadecairos commented on #1288
We have a number now, patch is in review: mozilla/lumberyard#29

charges on Twilio at ~$9.50

[2015-03-03 21:58] thisandagain opened #1363 "Login - Collect benchmarks"
Collect benchmarks across mobile and desktop platforms that show exceptionally well-crafted user flows for both new user sign-up and login.

[2015-03-03 21:59] thisandagain commented on #1363
Started collecting assets from Tumblr, AirBnb, DuoLingo, IFTTT, Carbonmade, and DIY here: https://drive.google.com/open?id=0B-1AZgKn5Nc7Vk1tTUlLaWczV0U&authuser=0

[2015-03-03 22:03] thisandagain opened #1364 "Login - Produce information architecture"
Produce information architecture documentation for login and sign-up flow.
**Scenarios (x 2 - mobile & desktop):**

- [x] Sign-up
    - [x] Active states
    - [x] Error states
        - [x] Invalid email / phone number
        - [x] Empty email / phone number
        - [x] Username taken
        - [x] Invalid username
        - [x] Empty username
        - [x] Invalid password
        - [x] Empty

[2015-03-03 22:05] thisandagain opened #1365 "Login - Design UI for mobile"
Produce UI spec for login experience on desktop. Depends on #1364

[2015-03-03 22:05] thisandagain opened #1366 "Login - Design UI for desktop"
Design UI / spec for mobile (webmaker-app). Depends on #1364

[2015-03-03 22:07] thisandagain opened #1367 "Login - Produce logic diagrams to document migration & error states"
Produce logic diagrams to assist with implementation in the next SOW. Depends on #1364

[2015-03-03 22:13] thisandagain commented on #1364
@cassiemc @xmatthewx @jbuck @simonwex Any user scenarios you see that I might be missing?

[2015-03-03 23:49] xmatthewx commented on #1364
- Sign-up - Email taken (shared address, forgot about account)
 - Login - Email account never confirmed
 - Forgot username / phone / email (forgot address used or lost access)
 - Forgot login method (login v5 - switched nascar sponsors, quit facebook)

[2015-03-04 00:16] thisandagain commented on #1364
These raise good questions / challenge a few assumptions:

**Do we want to continue to key off the email address AND username?**
I propose, no. We should switch to keying off the username only. This helps will classroom and internet cafe use cases.

**Do we want to confirm email addresses by confirmation link or by "soft" verification through something like BriteVerify?** I propose we pick a middl

[2015-03-04 01:58] simonwex opened #1368 "Implement Automated Testing"
* [ ] Implement testing framework
* [ ] Pick two recent or open bugs
  *  Bug: ____
  *  Bug: ____
* [ ] implement tests that validate fixes for two open bugs
* [ ] Document how to add a new test
* [ ] Set up project on TravisCI
* [ ] Add Travis status Image to README
* [ ] Add mofo-style linter
* [ ] Ensure all tests are passing

https://github.com/MozillaFoundation/plan/issues/351

[2015-03-04 15:30] xmatthewx commented on #1364
All sounds reasonable to me.

[2015-03-04 16:01] cassiemc commented on #1364
:+1:  nice thinking, folks.

[2015-03-05 17:25] thisandagain commented on #1367
Couple "gotchas" that @jbuck and I talked about this morning:
- Keying off of the username instead of the email address. This implies that users can have multiple user accounts associated with a single email address.
- Users should be able to change their username.

[2015-03-05 18:37] thisandagain commented on #1364
One major update from the check-in meeting this morning:

I'm almost done with all the desktop cases (see below), but after talking about implementation with @jbuck (and my extreme desire to avoid the cross-tool head bashing we experienced in the last effort), I'd like to revise my mockups to propose that sign-up and log-in happen within a dedicated page rather than a modal. We have a few benchmar

[2015-03-05 20:20] thisandagain commented on #1364
Updated sign-up flow based on dedicated page concept (vs. modal):
![signup_desktop_20150205](https://cloud.githubusercontent.com/assets/747641/6513719/f063684a-c331-11e4-9c4f-e43c43b4452b.png)

[2015-03-05 23:23] edrushka commented on #1338
@mmmavis can we close this?

[2015-03-05 23:24] edrushka commented on #1168
@mmmavis can we close this?

[2015-03-05 23:27] mmmavis commented on #1338
for sure

[2015-03-05 23:27] #1338 closed

[2015-03-05 23:27] mmmavis commented on #1168
yup!

[2015-03-05 23:27] #1168 closed

[2015-03-06 04:32] thisandagain commented on #1364
Mobile sign-up flow:
![signup_mobile_20150205](https://cloud.githubusercontent.com/assets/747641/6520255/cca92a76-c376-11e4-98aa-3e202df82741.png)

[2015-03-06 05:37] thisandagain commented on #1364
Tracking spec details here: https://docs.google.com/presentation/d/1fkF7PBcvae3eDXTFVllLRz2Sk_gPPKqui9dsvuLY4h8/edit?usp=sharing

[2015-03-06 16:57] thisandagain commented on #1363
Consolidated benchmarks w/ notes can be found here: https://docs.google.com/presentation/d/1bvMpfcuE5EdIk5MIZE5wJNCYYOiIDxyC1IVmB3ZO5mw/edit?usp=sharing

[2015-03-06 16:57] #1363 closed

[2015-03-06 17:47] scootergrisen commented on #1279
Could this issue be given higher priority ?

Because i would like other people to test the translating on the website. But right now they cant test any of the tools in webmaker.org in my language.

[2015-03-06 18:23] thisandagain commented on #1364
via @vazquez some documentation to support removing / toggling password masking: http://passwordmasking.com/

[2015-03-06 23:03] Pomax opened #1371 "we rely on my personal fork of less-middleware for rtltr-less. This is really bad"
this dependency was never meant to go actually into proper production, and with node v12 requiring a large number of LESS modules to be updated, we have a genuine problem.

[2015-03-07 17:17] davidascher commented on #1207
How 'bout:

 -[ ] Make a testsuite for webmaker.org that loops over all current URLs and ensures that none yield 404s.
 -[ ] Make said testsuite trigger on push via travis integration, so that PRs that cause URLs to break break the build.

[2015-03-07 20:29] thisandagain commented on #1364
Final IA assets are available at:
`Google Drive > Product > login.webmaker.org > ia > flows`:

`signup_desktop_final.graffle`
`signup_mobile_final.graffle`
`login_desktop_final.graffle`
`login_mobile_final.graffle`
`email_final.graffle`

Please use these rather than the Google Slides for "final" assets as they include *all* the error and active states. PNG flats are also available in the `render`

[2015-03-07 20:29] #1364 closed

[2015-03-09 15:06] jdotpz commented on #1279
@scootergrisen This was actually done 14 days ago!  @alicoding shall we close the issue?

[2015-03-09 15:11] alicoding commented on #1279
@jdotpz it seems like we only have enabled this for webmaker.org but not the rest of the apps. If you try click on those links above none of them works @jdotpz.

[2015-03-09 15:25] jdotpz commented on #1279
Ah, gotcha.  I thought that enabled it for all of the apps.  Are we clear to do this today then?

[2015-03-09 15:27] alicoding commented on #1279
Lets do it for all today if possible :)

[2015-03-09 15:36] jdotpz commented on #1279
Can you please tell me the specific apps this is going into?  ala, thimble, goggles, butter, ... makeapi?  webmaker-profile2?  wmlogin?

[2015-03-09 15:40] alicoding commented on #1279
thimble
makeapi
makevalet
webmaker-profile-2
webmaker-login
goggles
popcorn

I think that's all if I didn't miss any.

[2015-03-09 19:03] jdotpz commented on #1279
This is now completed!
FYI, makeapi and webmaker-profile-2 do not have languages set.

[2015-03-09 19:04] alicoding commented on #1279
Thanks @jdotpz !

[2015-03-09 19:04] #1279 closed

[2015-03-09 19:22] scootergrisen opened #1372 "X-Ray Goggles link on tools page is broken"
On https://webmaker.org/en-US/tools the link for X-Ray Goggles does not show the page in desired language.

Go to https://webmaker.org/da-DK/tools
Link for X-Ray Goggles is https://goggles.webmaker.org/da-DK which redirects to https://webmaker.org/goggles which redirects to https://webmaker.org/en-US/goggles

[2015-03-10 14:05] cassiemc commented on #1366
Initial signup screens for mobile: http://invis.io/N52EKLSB2
@vazquez could I get a prelim design review? Don't want to get too far along the aesthetic path if certain elements or ideas aren't working. Thanks!

[2015-03-10 14:07] vazquez commented on #1366
@cassiemc No problem, send me an invite to the InVision project so I can comment

[2015-03-10 14:24] vazquez commented on #1366
@cassiemc Left feebdack!

[2015-03-10 18:56] LucyeoH opened #1374 "Can't Access Homepage When Logged In"
When I'm logged into webmaker it won't let me access the homepage it just keeps redirecting me to explore. :(

[2015-03-10 19:10] ScottDowne commented on #1374
cc @thisandagain

[2015-03-10 19:16] davidascher commented on #1374
@thisandagain is on PTO.  Let's get other eyes on this, @simonwex,
@cadecairos, @k88hudson

[2015-03-10 19:19] cadecairos commented on #1374
I was told this was a "feature"

[2015-03-10 21:56] ScottDowne commented on #1374
I'm totally fine with simply removing the redirect. Our homepage has a bit going on now too with the privacy stuff.

[2015-03-11 17:20] thisandagain commented on #1366
@cassiemc Looks like this is showing the desktop designs in a mobile frame. Was that intentional?

[2015-03-12 13:54] cassiemc commented on #1366
Nice catch @thisandagain, I'm on it. Fleshing out hundreds of screens today :)

[2015-03-12 17:01] cassiemc commented on #1366
Two choices here for desktop signup.

A:

![signup-desktop-a](https://cloud.githubusercontent.com/assets/1186326/6623165/a0b3c19c-c8b7-11e4-93f3-5d4e82e7c160.jpg)

or B:

![signup-desktop-b](https://cloud.githubusercontent.com/assets/1186326/6623164/a0b2e5d8-c8b7-11e4-8534-ac3235adeb69.jpg)

I like B, but am torn on the logo.

[2015-03-12 17:04] thisandagain commented on #1366
:smile: :+1: :cake: Really digging the visual direction of B! Totally agree on the logo though ... wonder if we should just stick with our normal logo for now and revisit down the road? Happy to go with whatever you think is best given branding & styleguide process.

[2015-03-12 22:38] hannahkane opened #1377 "Add referral to new site (teach.mozilla.org)"
On or around April 1st, we plan to release a new site to support the work of the Learning Networks team. This content will make some of the content on the current webmaker site obsolete, including everything that's currently under the "Teach" tab, with the exception of "Badges" which is not part of the new site's launch.

This ticket is for both removing that content (see https://github.com/mozill

[2015-03-13 14:19] cassiemc commented on #1366
All the desktop screens, including some options toward the end for different suggested name treatments. http://invis.io/N52EKLSB2

I'll post the suggested name treatments here too so we can choose to go forward with the feature or not, and any specific treatments. My instinct is to hold on this feature, come back to it when we can focus on the UX and UI of that feature alone. Thoughts @thisandagai

[2015-03-13 14:21] cassiemc commented on #1366
Ugh just realized I posted this in the wrong bug (these are for desktop, not mobile). I am going to switch the titles around with bug https://github.com/mozilla/webmaker.org/issues/1365 to reflect what is actually being designed here. :)

[2015-03-14 00:58] cassiemc commented on #1365
Mobile signup here: http://invis.io/NH2FYKY5D

[2015-03-14 00:58] cassiemc commented on #1365
Design R? @thisandagain ?

[2015-03-16 14:54] thisandagain commented on #1365
Looks good @cassiemc . I'm guessing we'll just adapt the header to fit whatever navigation style / buttons we choose in the unified tool UI work? If so, R+ :+1:

[2015-03-16 14:55] cassiemc commented on #1365
Yes absolutely. That area is a blank slate as far as I am concerned. Moving on to 'sign up' today.

[2015-03-16 15:00] thisandagain commented on #1365
Awesome. Thanks.

[2015-03-16 17:29] adamlofting commented on #1366
It just crossed my mind that if this login is used on teach.*mozilla*.org, those user's may not actually have a concept of "Webmaker", depending on how the teach site get's branded in the long run...

cc @hannahkane

[2015-03-16 19:35] cassiemc commented on #1366
Good point Adam. I think we'll have to look at it with that lens and decide if we want another more white label UI solution. I'm continuing to work on the UI for signin for desktop and mobile today.

[2015-03-16 21:27] hannahkane commented on #1366
Agree that this is the wrong copy and logo for the Teach site, though the UX is great.

[2015-03-16 23:10] thisandagain commented on #1366
Great. This is super helpful ... we can certainly find a way to vary branding & messaging by referring URL. @hannahkane can you spec some copy and we can get this requirement built into the spec?

/cc @secretrobotron

[2015-03-16 23:10] hannahkane commented on #1366
Working on it as we speak.

[2015-03-16 23:11] thisandagain commented on #1366
@secretrobotron @cassiemc This requirement also impacts the design of the token and password reset transactional emails. We might want to make both more generic "Mozilla".

[2015-03-16 23:30] thisandagain commented on #1157
Current search results for "Webmaker" in `en-US`:
![screen shot 2015-03-16 at 4 29 49 pm](https://cloud.githubusercontent.com/assets/747641/6678600/c873942e-cbf9-11e4-99ba-ef6ba07dcea7.png)

[2015-03-17 02:29] hannahkane commented on #1366
Copy deltas for Teach site version of login:

Replace "Build the web. Learn new skills." with "Teach the web. Learn new skills."
Replace "Free and open source - forever." with "Join our community of educators and activists."
"By signing up, I agree to Mozilla's Terms of Service and Privacy Policy" [replace "Webmaker's" with "Mozilla's"]
Also change the logo from Webmaker to Mozilla.

[2015-03-17 03:52] ScottDowne commented on #1176
Fixed here: https://github.com/mozilla/webmaker.org/pull/1380

After running around angular for a bit, I figured out the not terrible fix.

[2015-03-17 15:33] cassiemc commented on #1366
@hannahkane does this work? @vazquez for Design R? http://invis.io/W32GNX3V7

![signup-desktop-teach](https://cloud.githubusercontent.com/assets/1186326/6690846/4f6e9d1c-cc99-11e4-9e79-2fd7bb8604e6.jpg)

[2015-03-17 15:36] LucyeoH commented on #1326
Hate to re-open this but can we also make http://discover.openbadges.org/ redirect to the badges page. More confused people! cc. @ScottDowne @hannahkane @jdotpz

[2015-03-17 15:40] vazquez commented on #1366
Review done

[2015-03-17 15:44] hannahkane commented on #1366
+1

[2015-03-17 16:03] secretrobotron commented on #1367
@jbuck did you manage to digitize that flow diagram you showed us yesterday?

[2015-03-17 17:03] Arty-chan opened #1381 "Content Overflow with X-Ray Goggles button on Tools page"
Due to the string length on localized versions of the button text, the button to the X-Ray Goggles page from the Tools page is overflowing and ending up behind the Thimble info box. See screenshot for example in French.

![screenshot](https://cloud.githubusercontent.com/assets/1790326/6692921/df016ae8-cc8c-11e4-92c8-ec1cd67bb263.png)

[2015-03-17 18:06] thisandagain commented on #1374
As we don't have content on the splash page that makes sense for a logged-in user (the privacy day work is being removed / recycled) it does not make sense for a user with an account to hit `/`. In the absence of a "stream" or other user-specific dashboard for the time being it makes the most sense for users to be directed to `/explore`.

[2015-03-17 18:06] #1374 closed

[2015-03-17 18:08] ScottDowne commented on #1326
@LucyeoH should probably file a new ticket for this. It'll likely get more attention that way.

[2015-03-17 19:27] jbuck commented on #1367
* For now, users will **not** be required to verify their email account to use password

[2015-03-17 20:16] jdotpz commented on #1326
@LucyeoH which page specifically should we redirect to?  blog.webmaker.org/badges ?

The discover page is currently working, so I'm curious why we'd redirect it?

[2015-03-18 15:37] OpenMatt opened #1382 "Update "strategy" link on build.webmaker.org"
The "Strategy" link in the left-hand nav should point here: http://book.webmaker.org/learning2015_plan.html
Instead of here: https://wiki.mozilla.org/Webmaker/2015

https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/tzfubfp4.png

[2015-03-18 19:35] simonwex commented on #1326
@LucyeoH could you file the new ticket and mention this one?

[2015-03-18 19:52] secretrobotron opened #1383 "Send teach-specific welcome email when signed up through teach"
When users sign up through teach.mozilla.org (based on referral), they shouldn't receive the standard webmaker welcome email. Instead, they should receive a welcome email specific to teach.mozilla.org.

Need to
- [ ] Craft welcome copy
- [ ] Design email template
- [ ] Implement email switching based on referral

@cassiemc @hannahkane @jbuck @Pomax anything you can see missing from ^^ list?

[2015-03-18 19:53] secretrobotron commented on #1383
Wrong repo.
https://github.com/mozilla/id.webmaker.org/issues/4

[2015-03-18 19:53] #1383 closed

[2015-03-19 16:06] thisandagain commented on #1364
Reminder, if you don't have OmniGraffle, PNG versions of each flow (over 50 states in total) are available here:
`Google Drive > Product > login.webmaker.org > ia > render`

https://drive.google.com/folderview?id=0B-1AZgKn5Nc7ZFFBLW5ubVhQTHc&usp=sharing

/cc @davidascher @cassiemc @jbuck @secretrobotron @hannahkane

[2015-03-19 16:07] thisandagain commented on #1366
@cassiemc status update?

[2015-03-19 19:20] #1239 closed

[2015-03-20 17:36] cassiemc commented on #1366
FYI we are not going to use the pink version since we don't need a separate design for Teach.

Here's the login screen for desktop but it is so f'in boring I am punching myself in the head. At least it is something to go by if devs need something to see.

![login-desktop](https://cloud.githubusercontent.com/assets/1186326/6757237/fb7434f0-cf05-11e4-8aed-69c4fc5b7354.jpg)

[2015-03-20 19:11] cassiemc commented on #1366
I added a bunch more benchmarks to the login folder. One insight – there is usually a big difference in the way login and signup are treated visually; login is usually plainer, signup has a bit more fluff. https://drive.google.com/a/mozilla.com/folderview?id=0BzfN9sXlOXt1b2k0SGEteEVBSE0&usp=sharing

[2015-03-20 19:51] cassiemc commented on #1366
Ok, here's the latest after a few iterations with @k88hudson, thanks for that Kate.
![login-desktop-v6](https://cloud.githubusercontent.com/assets/1186326/6759761/fdf146f6-cf18-11e4-8a89-134a3c592664.jpg)

[2015-03-20 20:07] Pomax commented on #1366
hm, that looks oddly similar to the original windows 98 default theme

[2015-03-20 20:40] cassiemc commented on #1366
Well, I think it's a little different from that...

![windows-98](https://cloud.githubusercontent.com/assets/1186326/6760508/a31f5d9c-cf1f-11e4-81ec-8ca34dc38414.jpg)

Here is the latest (spacing adjusted somewhat):

![login-desktop-v7](https://cloud.githubusercontent.com/assets/1186326/6760524/cbc5c510-cf1f-11e4-8c5e-298382a6664d.jpg)

Curious to hear what @vazquez @sabrinang @flukeout think of t

[2015-03-20 20:50] k88hudson commented on #1366
hahahahhahahahahhahahhahahhahahahhahahahhahahahahha

[2015-03-20 21:29] cassiemc commented on #1366
A couple options for the retrieve a token screen. I think I prefer the light blue as it doesn't overpower the login button. Not sure that the copy is right for the field – ie. the message says "key" and the field says "token". Thoughts @edrushka?

(Note the header bar in these versions is also blue instead of a gradient - we will need to make some decisions Monday):

![login-desktop-7-check-your-e

[2015-03-20 21:55] edrushka commented on #1366
Definitely agree there should be consistency in terms. I prefer 'key'. Suggest something along the lines of:
Title: Retrieve your key
Subtitle: We've emailed your key to the address you provided.
Hint text: Paste your key here
Button text: Submit Key to Log In

@LucyeoH you mentioned that Login questions are the most frequently at the help address. Are there more specifics you can provide about wh

[2015-03-21 02:24] alicoding commented on #1366
@cassiemc can I have the assets of any the page that you have completed? mainly the logo and that background image if we are still going to use the same sign up page :)

[2015-03-23 13:22] cassiemc commented on #1366
@alicoding Can you pull the background image from the homepage? Same for the logo? Logo is here if you can't find it elsewhere: https://www.dropbox.com/sh/7nwgazjrlbh1x1l/AAAK-yKt6-DgCHQ_Yy2BjiSQa?dl=0

[2015-03-23 13:29] alicoding commented on #1366
Hmm I thought you have B/W logo like this one @cassiemc that's why I asked for that otherwise I will use what I have or the one you provided https://dl.dropboxusercontent.com/spa/n5v3bx9nnjkdpzf/p7d2oaw_.png

[2015-03-23 13:33] cassiemc commented on #1366
Oh I thought you meant for the sign up page, thanks for clarifying @alicoding.

This logo treatment might have broader implications, would like to see what @HPaulJohnson and @thisandagain think before we implement?

[2015-03-23 14:41] cassiemc commented on #1366
On second thought, I am going to file this as a followup ticket as soon as @secretrobotron points me to the right repo. So n/m @thisandagain @HPaulJohnson – I will flag you on a different ticket (not for mvp).

[2015-03-23 14:44] cassiemc opened #1385 "Remove Privacy Eye and Banner"
Wondering two things:
* what has the effect of the eyeball been on our homepage conversion metrics?
* when we are supposed to remove the freaky eyeball and Privacy banner? Privacy Day is over afaik? Do we have something to replace that content with or can we go back to our generic homepage?

cc/ @HPaulJohnson @adamlofting @thisandagain

[2015-03-23 15:12] adamlofting commented on #1385
A few notes from me
* We never tested adding this in a structured way, so we don't have data on the impact.
* We talked about doing a structured test to remove this (i.e. hide it for 50% of traffic before removing it completely), but there were other higher priorities at the time (I think shipping the app) so we decided not too this time
* There was no dramatic shift in the overall conversion KPI,

[2015-03-23 15:52] LucyeoH commented on #1366
@edrushka oh god! Please don't ask people to retrieve a key!

So every time someone logs in to Webmaker they need to retrieve a key from their email. At this point for reasons unknown many people do not receive this key, even if they have received it in the past.

The only way to resolve this is for them to clear their cookies at which point they can try again and this time it will send them a key

[2015-03-23 15:55] edrushka commented on #1366
@LucyeoH thanks very much for this. @cassiemc let me know how you'd like to proceed with the copy. Changing the login process seems out of scope for this ticket.

[2015-03-23 15:56] HPaulJohnson commented on #1385
Plan Issue https://github.com/MozillaFoundation/plan/issues/352 has been open since 2/18 in attempt to get this removed.

[2015-03-23 16:19] LucyeoH commented on #1366
@edrushka totally get it!

[2015-03-23 16:22] cassiemc commented on #1366
@LucyeoH @edrushka This screen is all about transitioning people who haven't set a password yet to choosing a password, but we will need them to retrieve a key one last time for this to work, as far as I know. We are moving away from 'keys' and that is the whole reason for us redesigning login :) I've broken this ticket down into several others - we can continue this particular conversation in htt

[2015-03-23 16:22] #1366 closed

[2015-03-23 16:32] thisandagain commented on #1366
Yup! :+1: That's right on @cassiemc. Thanks for breaking this up into smaller issues within the `id` repo.

[2015-03-23 16:47] cassiemc commented on #1385
Thanks for the info guys. Let's try to add this as a task to https://github.com/MozillaFoundation/plan/issues/390.

I'm going to close this issue since https://github.com/MozillaFoundation/plan/issues/352 already exists.

cc @simonwex for context

[2015-03-23 16:47] #1385 closed

[2015-03-23 20:49] LucyeoH opened #1386 "Broken Thimble Broken Again!"
Twice in the last week we've had reports of Thimble breaking. Login isn't working and you can't save and the UI is broken (see below).
![thimble](https://cloud.githubusercontent.com/assets/8070833/6790198/6b7a7de0-d17c-11e4-9d80-d83e3e9c4365.png)

We've been able to fix it twice but fear it will break again talk to @ScottDowne for details!

[2015-03-23 20:51] Pomax commented on #1366
@cassiemc I was more reminded of the title bar in in standard installs like ![win98 deliciousness](http://3.bp.blogspot.com/_ieHehyhaqMo/TSaDjTbpTLI/AAAAAAAAACE/uBD_MSv20ro/s1600/windows-98.jpg) =)

[2015-03-23 21:36] scootergrisen opened #1387 "Auto select language for webmaker.org"
When i go to webmaker.org i am presented with the en-us version of the website.
My browser setting is set to danish (da) as my prefered language.

Would it not be better to show the language according to the browser settings preferences ?
Just like mozilla.org and other websites.

[2015-03-23 21:56] ScottDowne commented on #1386
I "fixed" it both times by turning it off and on. Both was because users were complainging, once was during an event.

[2015-03-24 16:46] cassiemc commented on #1366
@Pomax I see your point :)

[2015-03-24 22:28] scootergrisen opened #1388 "Can't use back button on x-ray goggles page"
Go to https://webmaker.org/en-US/tools and click x-ray googles link.
Link is for https://goggles.webmaker.org/en-US
When you click it you get redirected to https://webmaker.org/en-US/goggles
And on the back you can't use the browers back button.
Properly because of redirect.

[2015-03-30 16:01] ScottDowne commented on #1247
This got merged https://github.com/mozilla/webmaker.org/pull/1380, however, I had issues with jenkins building the tag. I'm trying again today.

[2015-03-30 16:59] OpenMatt opened #1390 "Add new project form appears broken"
I get this when I try to add a project
https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/wn7qm-5y.png

[2015-03-30 18:18] OpenMatt opened #1391 "Submit pull request for git hub issues wiki extension"
* We're going to start using the GitHub issues extension on the new wiki.webmaker.org, for easier roadmapping, etc. You can see this in action here: http://wiki.webmaker.org/Main_Page

* The problem: right now, the extension pulls in the *entire* issue thread. Including *all* the comments. Which makes it extremely unwieldy.

* Fix: just have the extension pull in the issue *title* only. Users can

[2015-03-30 18:26] OpenMatt commented on #1391
@simonwex @edrushka : not sure of the correct protocol to use for these. This will be hugely helpful in developing that "big picture" view ticket

[2015-03-30 19:45] edrushka commented on #1391
I can try to shepherd this through my misc tickets this heartbeat, but I will be PTO all next week so if you really need this done by April 10th, you may want to ask @simonwex to assign.

[2015-03-30 20:04] OpenMatt commented on #1203
we're talking about the blog for teach.mozilla.org, and it reminded about this oldie-but-goodie. wanted to check in and see if there was any status update on this one. or we can always wontfix -- just wanted to check.

[2015-03-30 21:17] OpenMatt opened #1392 "Make fixes to book.webmaker.org"
@davidascher : Lainie and I are having problems with getting images to work properly. Plus a few other issues w. book.webmaker.org.

Lainie: let's use this issue to capture that and other questions this heartbeat.

[2015-03-30 21:20] OpenMatt commented on #1392
just realized I filed this in the wrong repo -- but hopefully David will forgive us :)

[2015-03-30 21:44] edrushka commented on #1157
@thisandagain I'm closing the Misc dev ticket. Just reminding you to move or label this as you see fit so it doesn't get lost.

[2015-03-30 21:45] edrushka commented on #1326
@hannahkane  I'm closing the Misc dev ticket. Just reminding you to move or label this as you see fit so it doesn't get lost.

[2015-03-30 21:46] edrushka commented on #1382
@OpenMatt  I'm closing the Misc dev ticket. Just reminding you to move or label this as you see fit so it doesn't get lost.

[2015-03-31 10:44] toolness commented on #1203
Ah yeah, sorry, I haven't gotten around to this yet. I don't think we should WONTFIX it because there are some pretty low-hanging fruit to make the site faster to load and such, I just need to get around to doing it!

[2015-03-31 14:36] secretrobotron opened #1393 "Resolve international SMS situation"
From #1288, before MWC, we acquired a Spanish number to send installation SMSs for Webmaker app.

Assuming we're upgrading Webmaker app and that it will still need an install page, we should come up with a longer-term solution.

Short code? Long code? I'm out of my region of expertise.

cc @simonwex @thisandagain

[2015-03-31 14:36] secretrobotron commented on #1288
Closing this to continue for longer-term in #1393.

[2015-03-31 14:36] #1288 closed

[2015-03-31 16:26] jbuck commented on #1393
Short codes require 3 months to approve and obtain. We should just support multiple "From" SMS phone numbers

[2015-03-31 16:49] adamlofting commented on #1377
/cc myself so we can measure this traffic and understand how well it is working.

[2015-03-31 18:35] simonwex commented on #1393
This depends on a number of factors and is not consistent around the globe.

&lt;braindump&gt;

### tl;dr:
**Short codes**: Expensive, playing by the rules, memorable, some features you can't get on long-codes
**Long codes**: Cheap, not legit -- can be shut off, can also use for voice termination, can't assume costs for receiver, probably where we want to start

When sending from non-phone account

[2015-04-01 05:19] simonwex commented on #1391
@OpenMatt I created a WIP pull request here: https://github.com/aaronpk/MediaWiki-Github-Issues/pull/1

This still needs to be tested as I wrote it blind -- I don't have any of this stack set up.

@jbuck do you know the details for updating our version of this?

[2015-04-01 12:18] OpenMatt commented on #1391
thank you @Wex!

[2015-04-01 16:07] OpenMatt opened #1394 "Settings tweaks to wiki.webmaker.org"
* @jdotpz set up wiki.webmaker.org. It's been hugely valuable. I'd like to ask for help with three small tweaks:

- [x] 1) remove the dino head
- [x] 2) remove the "tools" section from the sidebar. as mocked up [here] (https://dl.dropboxusercontent.com/spa/6c38yp3crbxni5b/h1jhihob.png)
   - [(Documentation for how to do this)] (http://www.mediawiki.org/wiki/Manual:Interface/Sidebar)
- [x] 3) Allow

[2015-04-01 16:18] OpenMatt commented on #1394
Also: please allow external images. This is a simple settings change, as per
http://www.mediawiki.org/wiki/Manual:$wgAllowExternalImages

[2015-04-01 17:54] jbuck commented on #1391
@simonwex Do you mean updating wiki.wm.o with the new version of this plugin when it lands, or just using our fork? From that link, it looks like the PR needs some fixes.

[2015-04-01 21:35] simonwex commented on #1391
I mean for updating wiki.wm.o.

[2015-04-01 21:48] OpenMatt commented on #1394
Documentation: http://www.mediawiki.org/wiki/Manual:Skin_configuration

[2015-04-01 21:48] OpenMatt commented on #1394
Documentation: http://www.mediawiki.org/wiki/Manual:Skin_configuration

[2015-04-02 17:31] jbuck commented on #1391
@simonwex yep, I have access to this server

[2015-04-06 13:14] alicoding commented on #1157
This is pretty bad even for other social network site display this thing as well... I'm not sure what happen to prerender we are using here?

![vyu5xb9-](https://cloud.githubusercontent.com/assets/4368149/7004677/3a9200d8-dc3d-11e4-8400-3955567547ec.png)

[2015-04-07 19:31] #1077 closed

[2015-04-07 19:31] #1082 closed

[2015-04-08 01:41] davidascher commented on #1390
Wrong repo for this bug. (also a dupe I believe)

[2015-04-08 23:30] simonwex commented on #1367
@jbuck re-asking @secretrobotron's question. A photo of your diagram in this ticket would be a good start.

[2015-04-10 13:50] OpenMatt commented on #1391
@simonwex the Program Mgmt group is going to start aggressively roadmapping the rest of Q2 / Q3 next Heartbeat, and this would massively help. Let me know if there's anything we can do to make this easier?

[2015-04-19 22:49] scootergrisen opened #1395 "Transifex strings with "free" in them ?"
For the translation on Transifex where the word "free" is used i would like comments to be added if it means free as in libre or free as in it cost no money.

[2015-04-22 21:04] OpenMatt commented on #1394
4) bonus points: make the theme suck less.
a) use the same theme we use for wiki.mozilla.org
b) apply the same CSS to it that we're using in either of these two places: book.webmaker.org or build.webmaker.org
c) switch to some other standard theme
Whatever's easiest

[2015-04-22 21:13] davidascher commented on #1394
I suggest not using the same style as wiki.mozilla.org, cause doing so
would I think confuse people as to where they are.

[2015-04-22 21:24] OpenMatt commented on #1394
sounds good

[2015-04-24 17:40] OpenMatt commented on #1394
@jbuck : I'm going to spread this around next week, so if you could make the dino extinct by then, I'd be super grateful.

[2015-04-27 15:53] jbuck commented on #1394
Tweaks are done for now, @OpenMatt is going to look potential themes to install.

http://www.mediawiki.org/wiki/Category:All_skins

[2015-04-27 16:05] #1394 closed

[2015-04-27 22:40] simonwex commented on #1391
@jbuck do you have a php dev environment set up? I haven't been able to get to this and don't think i'll be able to this week.

[2015-04-28 18:23] HPaulJohnson opened #1396 "Update welcome email copy in conjunction with legacy tools comms"
Overview: We will be announcing our plans for legacy tools in the next week to active Webmaker users via a blog post and an email (details here: https://github.com/MozillaFoundation/plan/issues/430#issuecomment-96084500)

For people creating accounts between that announcement and the launch of the new Webmaker in June we want to update existing welcome email copy to stop promoting these tools and/

[2015-04-28 18:24] HPaulJohnson commented on #1396
Need existing copy to use as a template. As soon as I have that I'll update copy and drop new version here.

[2015-04-28 18:43] jbuck commented on #1396
This is from https://github.com/mozilla/webmaker-mailroom/tree/master/templates/user_created

**Subject**: Welcome to Webmaker. Let's get you started.

**Body**:

Hi {{username}},

Welcome to Mozilla Webmaker! Thank you for joining us to explore, play and create together to build a web that's open and made by everyone.

You can get started right now with these free tools:

* X-Ray Goggles allow yo

[2015-04-28 18:46] simonwex commented on #1396
Thanks, @jbuck!

[2015-05-05 21:24] mmhyamin opened #1399 "Sign Up alert is showing while logged in"
When I am visiting my profile page (https://webmaker.org/user/UserName) a sign up alert is showing "Want your own Webmaker profile?" but I am already logged in.
![screenshot from 2015-03-20 18-20-07](https://cloud.githubusercontent.com/assets/5278142/7483282/5b72d9c0-f39f-11e4-96cc-44d14e44de19.png)
Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1145591

[2015-05-07 14:10] OpenMatt opened #1401 "Improve spam prevention on wiki.webmaker.org"
We have some spam: http://wiki.webmaker.org/Special:RecentChanges
Some documentation on how to prevent it: http://www.mediawiki.org/wiki/Manual:Combating_spam

@jbuck : any quick fixes here?

[2015-05-08 17:22] #1401 closed

[2015-05-08 18:40] thisandagain opened #1402 "Legal - Update Privacy Policy"
We have a new privacy policy for both Webmaker and teach.mozilla.org. We need to update the current webmaker.org footer link to direct to:
https://www.mozilla.org/en-US/privacy/websites/

[2015-05-08 21:48] hannahkane commented on #1402
the Teach site already goes to that destination

[2015-05-13 16:52] KevZawacki opened #1403 "Add notice to Popcorn tool page that points to blog post"
Overview: We'd like to add a brief note to Popcorn Maker that links to the "What's next for Webmaker tools" blog post [https://blog.webmaker.org/whats-next-for-webmaker-tools]

Copy: Mozilla's tools for teaching the Web are evolving. Visit our blog to learn about changes to Popcorn Maker.

(Feel free to suggest different copy.)

cc @HPaulJohnson @benrito @simonwex

[2015-05-13 16:55] simonwex commented on #1403
@KevZawacki, do you mean this page? https://webmaker.org/en-US/tools

[2015-05-13 16:57] KevZawacki commented on #1403
@simonwex That likely makes more sense — will let @HPaulJohnson weigh in on where the notification will live.

[2015-05-13 16:59] jbuck commented on #1403
I'd argue it should appear within the tool itself, since our existing users likely access https://popcorn.webmaker.org directly, not through https://webmaker.org

[2015-05-13 17:02] benrito commented on #1403
Agree with @jbuck. I think we also need to be more direct: "You will not be able to create or edit Popcorn projects after x date."

I think that we should consider extending x date, but that's another ticket.

[2015-05-13 19:08] KevZawacki commented on #1403
@benrito Gotcha. How about: "Mozilla's tools for teaching the Web are evolving. Beginning June 19, you will not be able to create or edit Popcorn Maker projects. To learn more, read our blog post."

[2015-05-13 22:40] thisandagain opened #1404 "Redirect webmaker.org/app to beta.webmaker.org"
Re: https://github.com/mozilla/webmaker-desktop/issues/30

[2015-05-14 18:47] #1404 closed

[2015-05-14 20:37] #1402 closed

[2015-05-15 17:14] mmmavis opened #1407 "Redirect a few pages to the Teach site"
Let's make a list of urls that need to be redirected once the new site is live:
 * [ ] `webmaker.org/resources` should go to `teach.mozilla.org/teach-like-mozilla/web-literacy/`
 * [ ] `webmaker.org/literacy` should go to `teach.mozilla.org/teach-like-mozilla/web-literacy/`
 * [ ] `webmaker.org/party` should go to `teach.mozilla.org/events`
 * [ ] `party.webmaker.org` should go to `teach.mozilla.o

[2015-05-15 21:15] mmmavis opened #1408 "Homepage: Update link to Teach site (with GA referral code)"
( from https://github.com/mozilla/teach.webmaker.org/issues/681#issuecomment-100899815 )

![screen shot 2015-05-15 at 2 13 36 pm](https://cloud.githubusercontent.com/assets/2896608/7662043/a1cdf1ec-fb0c-11e4-94ff-45ef2ed1554d.png)

Use https://teach.mozilla.org?ref=webmaker_homepage_promo&utm_campaign=webmaker_homepage_promo&utm_source=webmaker.org&utm_medium=referral instead of https://teach.mozi

[2015-05-19 21:41] #1408 closed

[2015-05-21 19:14] KevZawacki commented on #1403
Resurfacing, + @thisandagain @cassiemc

How easy would it be to add the below copy/link as a banner to https://popcorn.webmaker.org/?

"Mozilla's tools for teaching the Web are evolving. Beginning June 19, you will not be able to create or edit Popcorn Maker projects. To learn more, read our blog post [http://mzl.la/1ACom34]."

Apropos, this bug from Gerv: https://bugzilla.mozilla.org/show_bug.cgi

[2015-05-21 20:53] thisandagain commented on #1403
That's do-able. Mind creating a planning ticket for the next heartbeat @KevZawacki ?

[2015-05-26 08:18] #1407 closed

[2015-05-26 08:58] mmmavis opened #1412 "webmaker.org/literacy doesn't get redirected to Teach site"
Need a patch for my https://github.com/mozilla/webmaker.org/pull/1411

seems like `webmaker.org/literacy`(without trailing slash) doesn't get redirected properly

[2015-05-26 15:59] #1412 closed

[2015-05-26 17:27] mmmavis opened #1414 "version in package.json should be bumped"
think I might have forgotten to do that in my previous push

[2015-05-26 17:29] #1414 closed

[2015-06-03 17:53] thisandagain opened #1416 "Update favicon"
As per legal / policy group in https://bugzilla.mozilla.org/show_bug.cgi?id=1159016

[2015-06-08 21:10] hannahkane opened #1418 "Disable current badge application flow"
We are going to roll out a new set of badges later this year. In the meantime, we want to prevent people from being able to apply for badges on Webmaker, as we don't have the staff to support them. Let's disable the "Apply" button on all badge pages and add an explanation, "We are no longer issuing this badge."

Any concerns with this plan, @thisandagain @davidascher @amirad @ldecoursy @chrislarry

[2015-06-08 21:55] davidascher commented on #1418
wfm

[2015-06-08 22:06] amirad commented on #1418
wfm

[2015-06-09 21:03] xmatthewx opened #1419 "Forward traffic to beta.webmaker.org"
In prep for the app launch and Whistler, we want to forward traffic from webmaker.org/en-US to beta.webmaker.org. Redirect should begin on Monday 6/15.

Note: only redirect visits to the homepage. An actual relaunch will happen later after more prep. (see: https://github.com/mozilla/webmaker-desktop/issues/75)

@thisandagain - R?

@simonwex @jbuck - who should execute this? Other concerns?

[2015-06-09 22:20] thisandagain commented on #1419
:+1: Only correction: "forward traffic from `https://webmaker.org/`". Not just `en-US`.

[2015-06-09 22:26] xmatthewx commented on #1419
Do we forward other translations to the beta site in English? Or, do we let them land on the current site until we're ready with localized content?

[2015-06-09 22:40] jbuck commented on #1419
Any developer can execute this, just add a patch to https://github.com/mozilla/webmaker.org/blob/master/routes/redirect.js

[2015-06-09 22:50] thisandagain commented on #1418
:+1:

[2015-06-09 23:15] #1416 closed

[2015-06-15 18:32] jbuck commented on #1419
https://github.com/mozilla/webmaker.org/pull/1420

[2015-06-18 21:58] jbuck commented on #1419
@thisandagain will give the go-ahead to push this to production on June 19th after a new version of the app has been published to the Play Store.

[2015-06-28 22:03] jbuck commented on #1419
This is probably a dupe of mozilla/webmaker-desktop#90 . When either of these gets closed, close the twin!

[2015-07-06 19:16] #1365 closed

[2015-07-07 16:41] KevZawacki opened #1421 "Update Webmaker description on Wikipedia"
The Webmaker blurb on Mozilla's Wikipedia page (http://bit.ly/1dKf6UY) is outdated. It reads:

"Mozilla Webmaker is Mozilla's educational initiative. Webmaker's goal is to "help millions of people move from using the web to making the web." As part of Mozilla’s non-profit mission, Webmaker aims "to help the world increase their understanding of the web, take greater control of their online lives,

[2015-07-09 16:41] scootergrisen commented on #1159
The following string from Transifex contains "much of it made in your local community".
But i would says that just about nothing have been made in my local (non existing) community.

    <em>Discover</em>: Explore what your fellow Webmakers have already created in the Discover gallery. There are scrapbooks, photo galleries, comics and more, much of it made in your local community.

[2015-07-13 15:39] kendallcorner opened #1422 "webmaker.org main page"
Hello,
I tried to show some new coders your site and all the fun tools on it, but when I sent them to webmaker.org it redirected to a beta version of the site dealing with an app and with no link to the tools page.  I think thimble is pretty handy and great for new coders, so I'd like to be able to show them this feature next time.
Thanks!

[2015-07-13 15:46] jbuck commented on #1422
Hi @kendallcorner , you can visit Thimble directly at https://thimble.webmaker.org . We're currently in the process of [turning off some of our tools](https://blog.webmaker.org/whats-next-for-webmaker-tools) (Appmaker & Popcorn Maker), but [Thimble is in the process of getting an overhaul](https://blog.webmaker.org/whats-next-for-thimble).

[2015-07-13 15:52] kendallcorner commented on #1422
Oh, nice. Let me know if you want some help beta testing the new version.

[2015-07-13 15:55] hannahkane commented on #1422
Hey @kendallcorner - we would *love* help testing the new version. You can email me at hannah at mozillafoundation dot org for more info.

[2015-07-13 15:57] hannahkane commented on #1422
@xmatthewx, @thisandagain  - maybe we should talk about providing a pathway from webmaker to thimble and goggles.

[2015-07-15 20:16] jbuck commented on #1391
I also was not able to get to this.

[2015-07-15 22:15] xmatthewx opened #1423 "Triage incoming links to webmaker.org that will break"
Review links the logs and links to existing webmaker.org pages that will be retired when we launch the new site. Add to the list below. Anything not on the list will lead to a 404 page. The 404 page can include some helpful generic links as well. New redirects can be added as needed.

Tasks: Specify a redirect destination or remove link at the source
 - [ ] Private Eye activity linked from https:/

[2015-07-16 13:56] xmatthewx commented on #1422
tracking here: https://github.com/mozilla/webmaker-browser/issues/170

[2015-07-16 13:56] #1422 closed

[2015-07-16 19:51] xmatthewx opened #1424 "Prep webmaker.org archive as old.webmaker.org"
As discussed, archiving webmaker.org as old.webmaker.org can reduce the risk and comms hassles with the new site launch.

What's required?

 - [ ] add subdomain to SSL certificate
 - [ ] add simple notice "This Webmaker site archive will be shutdown on [date]." 3-4 months post launch.
 - [ ] consider impact on login, password resets, etc for thimble, makes export etc

[2015-07-16 19:53] xmatthewx opened #1425 "Add "old" subdomain to webmaker.org SSL certificate"

[2015-07-16 21:11] jbuck commented on #1425
I've got an updated SAN cert now

[2015-07-16 21:11] #1425 closed

[2015-07-16 21:45] jbuck commented on #1424
There's probably a bunch of configuration work we need to do to make everything work on the new domain but we can run old.wm.o side-by-side to test changes.

[2015-07-20 06:28] bbaaxx opened #1426 "Thimble code correction is broken"
I'm getting the following suggestion from the code editor:

"The closing </p> tag here doesn't pair with the opening <article> tag here. This is likely due to a missing </article> tag."

This is stopping the rendering of the page in the preview area.

Here is a screenshot: http://imgur.com/kOVMJPI

[2015-07-20 14:34] ldecoursy commented on #1423
cc @kevinzawacki

[ ] madewithcode.com/resources --> https://webmaker.org/en-US/madewithcode-poster and https://webmaker.org/en-US/madewithcode-firstwebpage too
[ ] can we keep webmaker.org/me functioning for now so people can find their existing makes? (or maybe that doesn't belong here) ;)

@adamlofting is it worth pulling an updated list of referrers? Original list ref'd above was from April.

[2015-07-20 15:13] xmatthewx commented on #1423
@ldecoursy - I posted an issue about /me here: https://github.com/mozilla/id.webmaker.org/issues/339

[2015-07-20 18:04] xmatthewx commented on #1423
When you have a list to implement, please assign to @mmmavis.

[2015-07-20 22:24] hannahkane commented on #1423
@ldecoursy - have you decided whether you want to accommodate the madewithcode pages? If so, we can re-create them on MLN and re-direct.

@melechuga - not sure if you're the right person to ask about the Private Eye activity. It's currently linked to from advocacy.mozilla.org. That link will break when the new webmaker goes live. We could re-create that content elsewhere - either on teach.mozilla.

[2015-07-20 22:29] ldecoursy commented on #1423
I think we should, since they're on list of top referring sites (although I don't know the numbers). If we have the resources to re-create them on MLN that sounds good to me!

[2015-07-20 22:29] hannahkane commented on #1423
I'll file tickets and see what we can do. :)

[2015-07-20 22:49] Melechuga commented on #1423
@hannahkane I'd confirm with @edrushka. Thanks!

[2015-07-20 22:59] hannahkane commented on #1426
Hey @bbaaxx - thanks for filing this! Just wanted to let you know we're working on a new version of Thimble—the repo for it is here: https://github.com/mozilla/thimble.webmaker.org/issues - in case you want to take a look.

[2015-07-21 01:58] edrushka commented on #1423
@hannahkane - does your crew have capacity to re-create on teach.moz.org? That probably makes the most sense until the advocacy site gets its next refresh, which isn't even on the slate yet afaik.

[2015-07-21 13:06] adamlofting commented on #1423
Sure, these are the top landing pages (ie entry points to the website) in the last 30 days:
* https://docs.google.com/spreadsheets/d/1XEX8NbnOHV7a3elRUNUifJRyv4ok0DwuGP1nGbvMcac/edit#gid=1217574365

[2015-07-21 13:59] xmatthewx commented on #1423
We can temporarily link to any page on https://old.webmaker.org/explore while you rebuild them on MLN site. We just need to make sure that @mmmavis has a clean list of pages to redirect.

[2015-07-21 14:02] xmatthewx opened #1427 "Remove redirect from home on old.webmaker.org"
The root on webmaker.org redirects to beta. On old.webmaker.org, we can remove that to allow display of homepage.

[2015-07-21 15:39] xmatthewx opened #1428 "Language switcher flickers and breaks pages on old.webmaker.org"
STR:
 1. Visit a page:
  - https://old.webmaker.org/en-US/madewithcode-firstwebpage
  - https://old.webmaker.org/en-US/private-eye
  - https://old.webmaker.org/en-US/about
 2. Change the language
 3. Visit another page
 4. URL flickers. Page content does not load

[2015-07-21 21:31] hannahkane commented on #1423
OK, I think this is a close-to-final list, but need developer input on how difficult it will be to move all of X-Ray Goggles (including l10ns) over to teach.mozilla.org. If we can't do that (who will do it?), then we'll need to keep it on old.wm.org until we can figure it out. /cc @simonwex

To recap:

Content to be hosted on teach.mozilla.org, and then re-directed:
* https://webmaker.org/en-US/pr

[2015-07-24 17:23] hannahkane commented on #1423
@simonwex - can you please provide some guidance re: moving Goggles to teach.mozilla.org? What are the technical steps needed? Who is available to do it?

[2015-07-24 22:05] hannahkane opened #1430 "Planet Webmaker Looking Funky"
Originally filed by @jgmac1106 here https://github.com/mozilla/teach.webmaker.org/issues/1032

The RSS feed on Planet webmaker seems to have had a right column added for recent posts. It is scraping too much text from posts and making reading difficult. Can it be set so only the title of recent posts is added to the sidebar?

[2015-08-01 01:42] mmmavis commented on #1428
This is happening on https://old.webmaker.org/tools and https://old.webmaker.org/getinvolved as well (which blocks https://github.com/mozilla/webmaker-browser/pull/183)

[2015-09-30 19:04] KevZawacki opened #1433 "'Turn off' Appmaker and Popcorn Maker"
This summer, we communicated to Webmaker.org users that both Appmaker and Popcorn Maker would become inaccessible on Wednesday, Sept. 30. (See [blog post](https://blog.webmaker.org/product-update-for-appmaker-and-popcorn-maker), or in-product banners, below.)

![screen shot 2015-09-30 at 3 02 32 pm](https://cloud.githubusercontent.com/assets/11045250/10203499/4ca42814-6784-11e5-8031-be2a03171254.p

[2015-09-30 19:09] cadecairos commented on #1433
The deprecation plan has hit a few blockers, but is being tracked in mozillafoundation/plan#569

[2015-09-30 19:09] simonwex commented on #1433
@KevZawacki we're a bit behind on decommissioning. Do you see a problem with it happening later?

[2015-09-30 20:14] KevZawacki commented on #1433
@simonwex Do we have a date in sight? If it's < one week, shouldn't be an issue. If more, we may want to update our in-product banners.

[2015-10-02 20:15] jbuck commented on #1433
@KevZawacki tracking decommissioning in https://github.com/MozillaFoundation/mofo-devops/issues/205 and https://github.com/MozillaFoundation/mofo-devops/issues/206

[2015-10-02 20:15] #1433 closed

[2015-10-13 16:26] Pomax commented on #1418
dev work tracked in https://github.com/mozilla/teach.mozilla.org/issues/1253

[2015-10-13 16:32] omnignorant commented on #1418
I know I'm super late to this party, but I'm just wondering what happens to existing badges and badge earners? What are we going to do with that data and can it be ported into the next thing? We had a good number of Chicago members earning badges.

[2015-10-13 19:51] Pomax commented on #1418
To the best of my knowledge, this work is only about making sure people can't click on links that don't work anymore (all the changes are to views in webmaker.org, not to the badges applications)

[2015-10-14 11:35] omnignorant commented on #1418
ok, so my concern must have been addressed someplace else, some other time. Still, if anyone has insight into my question, I would love to be informed.

[2015-10-14 11:41] hannahkane commented on #1418
@omnignorant - we're not losing the data on badges earned in the past; just preventing ppl from applying for badges that we're no longer supporting. Accessing previously-earned badges may be part of either the cred.ly implementation project, or the new profile project on teach.mozilla.org.

[2015-10-19 21:11] #1418 closed

[2015-10-28 16:26] ioana-chiorean opened #1436 "Duplicate tags on blog.webmaker.org"
Going to https://blog.webmaker.org in the tag cloud there are 2 identical ones Mozilla Festival - pointing to different serach but still confusing:

* https://blog.webmaker.org/tag/mozfest
* https://blog.webmaker.org/tag/mozilla-festival

![screenshot from 2015-10-28 18 19 14](https://cloud.githubusercontent.com/assets/1391451/10795206/6416d5d6-7da1-11e5-9145-d28f27f500a6.png)

[2015-11-23 09:09] #1399 closed

[2016-04-11 07:25] isuruAb opened #1438 "Broken link in StudentAmbassadors/Recognition page"
I went through the [ StudentAmbassadors/Recognition ](https://wiki.mozilla.org/StudentAmbassadors/Recognition#Program_Levels) page there is a link to this " https://webmaker.org/badges/fsa-maker-party "
It shows 404 not found page.

[2016-04-11 19:50] alanmoo commented on #1438
Thanks for the bug report! @cadecairos maybe you have some insight to this?

[2016-04-11 20:29] cadecairos commented on #1438
That page most definitely doesn't exist anymore. [The webmaker-browser repo](https://github.com/mozilla/webmaker-browser) now sits at webmaker.org.

Is there a relevant place we can redirect that URL to?

[2016-04-11 21:38] xmatthewx commented on #1438
Legacy content from Webmaker was sunset last year. I thought it was archived at a subdomain `old` but I don't see that now. I'm not sure if those badges now have a home on https://teach.mozilla.org/

cc @amirad @ldecoursy @hannahkane

[2016-04-11 23:13] amirad commented on #1438
We're working on a new badge strategy so sadly none of our older badges (like the fsa one) are now available. We will be launching new badges in the near future @isuruAb so stay tuned for that!

[2016-08-08 17:07] #1231 closed

[2016-09-29 14:18] #1177 closed

[2016-09-29 14:20] #1225 closed

[2017-04-07 16:58] aayushsanghavi opened #1440 "Footer on the Webmaker hompage isn't completely responsive"
This is how it looks on the laptop after resizing the window -

![screenshot from 2017-04-07 22-21-11](https://cloud.githubusercontent.com/assets/19590302/24810723/d36c80ce-1bb2-11e7-9c24-928351fdb7ca.png)

This is how it looks on the phone -

![screenshot_2017-04-02-12-11-36](https://cloud.githubusercontent.com/assets/19590302/24810733/dc1750dc-1bb2-11e7-93f9-7398a1e5ed08.png)

When the size of t

[2017-04-10 14:30] alanmoo commented on #1440
I don't see an issue with this; Can you elaborate on what problem you're seeing?

[2017-04-10 19:37] aayushsanghavi commented on #1440
@alanmoo the margin on the right (after the donate and thimble and x-ray goggles buttons) is less than that on the left (before legal and contact buttons), in the first and second images. They aren't centered properly.

[2017-04-10 20:34] alanmoo commented on #1440
The whole thing is centered properly, the "Thimble & X-Ray Goggles" button may be off-center though, throwing this off visually. PR welcome, though very low priority.

[2017-04-10 22:33] aayushsanghavi commented on #1440
@alanmoo yes. The entire page is fine but the footer buttons aren't.
I would love to open a PR but I am facing some issue with the set up. Do we have an IRC channel or a chat room that I could join and get this sorted?

[2017-12-14 14:18] KaushalyaPradeep opened #1441 "Did webmaker stop issuing open badges?"
Here I saw mentioning webmaker issue badges [here](https://wiki.mozilla.org/Badges/Issuers#Technology)
Then I saw this article over [here](https://learning.mozilla.org/blog/announcing-15-new-web-literacy-maker-badges#comment-69786) clicked the links of the new badges, but gave me 404s. Then I visited webmaker.org, it shows me Thimble (which allows to learn code with online code editor), I did not

[2017-12-14 16:51] alanmoo commented on #1441
Yes

[2017-12-14 16:51] #1441 closed

[2017-12-15 03:21] KaushalyaPradeep commented on #1441
Thank you for the response